<%= form_with(model: showing, local: true) do |form| %>
  <% if showing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(showing.errors.count, "error") %> prohibited this showing from being saved:</h2>

      <ul>
      <% showing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :slot %>
    <%= form.datetime_select :slot, id: :showing_slot %>
  </div>

  <div class="field">
    <%= form.label :screenname %>
    <%= form.text_field :screenname, id: :showing_screenname %>
  </div>

  <div class="field">
    <%= form.label :filmname %>
    <%= form.text_field :filmname, id: :showing_filmname %>
  </div>

  <div class="field">
    <%= form.label :addedby %>
    <%= form.text_field :addedby, id: :showing_addedby %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
