<p id="notice"><%= notice %></p>

<h1>Showtimes</h1>

<table class="catalog">
    <% @showings.each do |showing| %>
      <tr>
        <td>
          <div class="title">
            <%= showing.filmname %>
          </div>
          <div class="slots">
            <%= showing.slot %>
          </div>
          <div class="description">
            <%= showing.screenname %>
          </div>
          <div class="price">
            <%= number_to_currency(showing.price, :unit => "€") %>
          </div>
        </td>
        <td>
          <div class="links">
            <% if session[:login] == 1 %>
              Added By: <%= showing.addedby %>
              <%= link_to 'Edit', edit_showing_path(showing) %>
              <%= link_to 'Destroy', showing, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <a href="/cart/<%= showing.id %>">Add to Cart</a><br><br>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Showing', new_showing_path %>
