<%= form_with(model: price, local: true) do |form| %>
  <% if price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pricelabel %>
    <%= form.text_field :pricelabel, id: :price_pricelabel %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_area :day, id: :price_day %>
  </div>

  <div class="field">
    <%= form.label :hourstart %>
    <%= form.number_field :hourstart, id: :price_hourstart %>
  </div>

  <div class="field">
    <%= form.label :hourend %>
    <%= form.number_field :hourend, id: :price_hourend %>
  </div>

  <div class="field">
    <%= form.label :event %>
    <%= form.check_box :event, id: :price_event %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :price_value %>
  </div>

  <div class="field">
    <%= form.label :addedby %>
    <%= form.text_field :addedby, id: :price_addedby %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
