<p id="notice"><%= notice %></p>

<p>
  <strong>Pricelabel:</strong>
  <%= @price.pricelabel %>
</p>

<p>
  <strong>Day:</strong>
  <%= @price.day %>
</p>

<p>
  <strong>Hourstart:</strong>
  <%= @price.hourstart %>
</p>

<p>
  <strong>Hourend:</strong>
  <%= @price.hourend %>
</p>

<p>
  <strong>Event:</strong>
  <%= @price.event %>
</p>

<p>
  <strong>Value:</strong>
  <%= @price.value %>
</p>

<p>
  <strong>Addedby:</strong>
  <%= @price.addedby %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
