    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
       <h4 id="logo">Cinemob</h4>
        <nav>
         <ul class="nav navbar-nav navbar-right">
            
            <li><%= link_to "Showtimes", root_path %></li>
            <li><%= link_to "Subscriptions", root_path  %></li>
            
            <% if user_signed_in? %>
                <li>Signed in as.. <%= current_user.email %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
         
                <li><%= link_to "Cart",   cart_path  %></li>
                <li><%= link_to "Booking history", bookinghistory_path %></li>
                
            <% elsif admin_signed_in? %>
                <li>Signed in as.. <%= current_admin.email %></li>
                <li><%= link_to 'Admin Sign out', destroy_admin_session_path, :method => :delete %> </li>
                <li><%= link_to "Films", films_path %></li>
                <li><%= link_to "Screens", screens_path %></li>
                
            <% else %>
       
                <li><%= link_to "Admin Register", new_admin_registration_path  %></li>
                <li><%= link_to "Admin Sign in", new_admin_session_path %></li>
                <li><%= link_to "Register", new_user_registration_path  %></li>
                <li><%= link_to "Sign in", new_user_session_path %></li>

            <% end %>

          </ul> 
        </nav>
      </div>
    </header>